body{
    background-color: #E5E5E5;
    overflow-x: hidden;
    overflow-y: auto;
}
.main{
    /* position: relative; */
    bottom: 8px;
    margin: 0 auto;
    width: auto;
    height: 1007.93px;
    /* border: 1px solid blue; */
    
}
.fot1{
    
    margin-left: 30px;
    width: auto;
    height: 1007.93px;
}
.navbar{
    position: relative;
    bottom: 1020px;
    display: flex;
    justify-content: space-between;

    width: 1440px; 
    height: 120px;
    /* border: 1px solid blue; */
    
    margin-left: 30px; 
    background-color: #FFFFFF;
}
.nav1{
    width: 200px;
    height: 120px;
    margin-left: 120px;
    
}
.fur{
    font-weight: 700;
    position: relative;
    top: 20px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 120px;
    /* border: 1px solid blue; */
    margin-right: 120px;
}
.ser{
    margin-top: 55px;
    font-weight: 600;
    
}

.colu{
    width: 643px;
    height: 443px;
    position: relative;
    bottom: 700px;
    left: 730px;
    background-color: #DFE9F4;
    border-radius: 10px;
}
.colu1{
    width: 126px;
    height: 20px;
    /* border: 1px solid blue; */
    position: relative;
    left: 30px;
    top: 30px;
    color: #333333;
    font-weight: 600;
}
.colu2{
    width: 559px;
    height: 127px;
    /* border: 1px solid blue; */
    position: relative;
    /* top: 50px; */
    left: 30px;
    top: 10px;
}
.arr1{
    font-weight: 700;
    font-size: 53px;
    color: #054C73;
    gap: 0px;
}
.colu3{
    width: 546px;
    height: 78px;
    /* border: 1px solid blue; */
    size: 18px;
    color: #333333;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 700;
    position: relative;
    top: 10px;
}
.colu4{
    margin-top: 20px;
    margin-left: 30px;
    width: 229px;
    height: 70px;
    /* border: 1px solid blue; */
}
.but1{
    width: 229px;
    height: 70px;
    border: 1px solid #054C73;
    border-radius: 50px;
    background-color:#054C73;
}
.buy{
    size: 16px;
    font-weight: 700;
    margin-left: 60px;
    width: 85px;
    height: 20px;
    color: #FFFFFF;
    position: relative;
    top: 5px;
    
    
}
.secfoot{
    margin-left: 30px;
    width: 1440px;
    height: 120px;
    /* border: 1px solid blue; */
    background-color: #F2F5FF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 498px;
    color: 
    #111111;
}

.secfoot1{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 55px;
    /* border: 1px solid blue; */
    
}
.secfoot2{
    display: flex;
    gap: 20px;
    width: 330px;
    height: 55px;
    /* border: 1px solid blue; */
    
}
.secfoot3{
    display: flex;
    gap: 20px;
    width: 330px;
    height: 55px;
    /* border: 1px solid blue; */
  
}
.vector{
    width: 70.64px;
    height: 50px;
    /* border: 1px solid blue; */
    
    
}
.Vector1{
    position: relative;
    bottom: 53px;
    right: 2px;
}
.Vector2{
    position: relative;
    bottom: 45px;
    right: 27px;
}
.Vector3{
    position: relative;
    bottom: 35px;
    right: 40px;

}
.Vector4{
    position: relative;
    right: 64px;
    bottom: 53px;

}
.Vector5{
    position: relative;
    bottom: 45px;
    right: 82px;


}
.Vector6{
   position: relative;
   bottom: 53px;
   right: 10px;
    
}
.seccfoot{
    flex-direction: column;
    width: 250px;
    height: 55px;
    /* border: 1px solid blue; */

}
.seccfoot1{
    width: 163px;
    height: 29px;
    /* border: 1px solid blue; */
    color: #333333;

}
.seccfoot2{
    width: 227px;
    height: 20px;
    /* border: 1px solid blue; */
}
.free{
    position: relative;
    bottom: 25px;
    font-weight: 600;
}
.lorem{
    position: relative;
    bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}
.secfoot21{
    width: 70.64px;
    height: 55px;
    /* border: 1px solid blue; */
    color: #111111;
    
}

.secfoot22{
    flex-direction: column;
    width: 250px;
    height: 55px;
    /* border: 1px solid blue; */
}
.vec1{
    position: relative;
    left: 21px;
    bottom: 30px;
}
.vec2{
    position: relative;
    left: 20px;
    top: 2px;
}
.vec3{
    position: relative;
    right: 2px;
    bottom: 24px;

}
.vec4{
    position: relative;
    bottom: 42px;
    right: 18px;
}
.vec5{
    position: relative;
    bottom: 67px;
    left: 33px;
    
}
.vec9{
    position: relative;
    bottom: 55px;
    left: 14px;
}
.secfoot23{
    width: 162px;
    height: 29px;
    /* border: 1px solid blue; */
    font-weight: 600;
    font-size: 24px;
   
}
.secfoot24{
    width: 227px;
    height: 20px;
    /* border: 1px solid blue; */
}
.sup{
    position: relative;
    bottom: 20px;
}
.lorem1{
    position: relative;
    bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}
.secfoot31{
    width: 55px;
    height: 55px;
    /* border: 1px solid blue; */
}
.secfoot32{
    width: 250px;
    height: 55px;
    /* border: 1px solid blue; */
}
.secfoot33{
    width: 192px;
    height: 29px;
    /* border: 1px solid blue; */
}
.secfoot34{
    width: 227px;
    height: 20px;
    /* border: 1px solid blue; */
}
.auth{
    position: relative;
    bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.auth1{
    position: relative;
    bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.conteiner{
    width: 1440px;
    height: 795px;
    /* border: 1px solid blue; */
    margin-left: 30px;
    position: relative;
    bottom: 500px;
    background-color: #E5E5E5;
    flex-direction: column;
    
}
.insp{
    width: 360px;
    height: 39px;
    /* border: 1px solid blue; */
    margin: 50px auto;
    font-size: 32px;
    font-weight: 700;
}
.insp1{
    position: relative;
    
    left: 30px;
}
.lorem3{
    width: 559px;
    height: 30px;
    
    /* border: 1px solid blue; */
    margin: 40px auto;
}
.lorem4{
    position: relative;
    left: 57px;
    bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}
.conteiner1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 1440px;
    height:600px ;
    /* border: 1px solid blue; */
}
.cont1{
    width: 355px;
    height: 434px;
    border-top-left-radius: 70px;
}
.cont2{
    width: 355px;
    height: 434px;
    position: relative;
    bottom: 45px;
}
.cont3{
    width: 355px;
    height: 434px;
    border-bottom-right-radius: 70px;
}
.conte{
    width: 109px;
    height: 291.44px;
    /* border: 1px solid blue; */
   position: relative;
   left: 1050px;
   bottom: 437px;
    


}
.conteiner2{
    width: 1440px;
    display: flex;
    height: 700px;
    margin-left: 30px;
    /* border: 1px solid blue; */
    position: relative;
    bottom: 550px;
    background-color: #F2F5FF; 
   
}
.conte1{
    flex-direction: column;
    align-items: center;
    width: 770px;
    height: 700px;
    /* border: 1px solid blue; */
}
.bea{
    width: 394px;
    height: 39.1px;
    /* border: 1px solid blue; */
    position: relative;
    left: 170px;
    top: 200px;
}
.bea1{
    position: relative;
    bottom: 30px;
    left: 50px;
}
.bea2{
    width: 514px;
    height: 122.56px;
    /* border: 1px solid blue; */
    position: relative;
    left: 170px;
    top: 270px;
}
.bea3{
    height: 27px;
    width: 128px;
    left: 161px;
    top: 2259.3218383789062px;
    border-radius: 50px;
    padding: 24px 57px 24px 57px;
    /* border: 1px solid blue; */
    background-color: #054C73;
    position: relative;
    left: 170px;
    top: 320px;
    

}
.learn{
    background-color: #054C73;
    position: relative;
    bottom: 12px;

}
.butt{
    background-color: #054C73;
    border: #054C73;
}
.girl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 770px;
    height: 700px;
    /* border: 1px solid blue; */

}
.girll{
    width: 500px;
    height: 650px;
    /* border: 1px solid blue; */
    
    

    
}
.girll1{
    width: 450px;
    height: 650px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.girlll{
    width: 80px;
    height: 300px;
    /* border: 1px solid blue; */
    position: relative;
    right: 97px;
    background-color:#09513B ;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;

}
.conteiner5{
    width: 1440px;
    height: 700px;
    margin-left: 30px;
    position: relative;
    bottom: 550px;
    /* border: 1px solid blue; */
    background-color: #E5E5E5;
    flex-direction: column;
    align-items: center;
    
    
}
.cont5{
    margin: 30px auto;
    width: 314px;
    height: 39px;
    /* border: 1px solid blue; */
    position: relative;
    bottom: 20px;


}
.cont6{
    width: 559px;
    height: 30px;
    /* border: 1px solid blue; */
    margin: 30px auto;
}
.ipsum{
    position: relative;
    left: 50px;
    bottom: 20px;
}
.cont7{
    display: flex;
    gap: 20px;
    width: 1440px;
    height:550px ;
    /* border: 1px solid blue; */
}
.con1{
    flex-direction: column;
    width: 460px;
    height: 550px;
    /* border: 1px solid blue; */
    border-radius: 20px;
}
.imga{
    width: 430px;
    height: 500px;
    border-radius: 15px;
}
.din{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    position: relative;
    left: 180px;
}
#conteiner{
    width: 1440px;
    height: 600px;
    /* border: 1px solid blue; */
    flex-direction: column;
    margin-left: 30px;
    position: relative;
    bottom: 550px;
    background-color: #E5E5E5;
}
#cont1{
    width: 227px;
    height: 39px;
    /* border: 1px solid blue; */
    margin:  auto;
}
#cont2{
    width: 559px;
    height: 30px;
    /* border: 1px solid blue; */
    margin: auto;
}
.col{
    position: relative;
    left: 40px;
    bottom: 10px;
}
#cont3{
    display: flex;
    width: 1440px;
    grid-row-end: 500px;
    /* border: 1px solid blue; */
    justify-content: space-between;
}
.note{
    flex-direction: column;
    width: 460px;
    height: 500px;
    /* border: 1px solid blue; */
}
#image{
    position: relative;
    left: 40px;
}
#otx{
    width: 90px;
    height: 90px;
    /* border: 1px solid blue; */
    position: relative;
    left: 180px;
    bottom: 40px;
}
#eli{
    position: relative;
    left: 16px;
    bottom: 79px;
}
#eli1{
    position: relative;
    right: 1168px;
    top: 39px;
}
#pur{
    width: 283px;
    height: 29px;
    /* border: 1px solid blue; */
    font-weight: 700;
    font-size: 24px;
    position: relative;
    left: 120px;
    bottom: 40px;

}
.ship{
    position: relative;
    right: 15px;
}
.ship2{
    position: relative;
    left: 20px;
}
.ship1{
    position: relative;
    left: 10px;
}
.eos{
    display: flex;
    width: 1440px;
    height: 60px;
    /* border: 1px solid blue; */
    justify-content: space-evenly;
    gap: 250px;
    

}
.er{
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 100px;
}
#lorem2{
    width: 1440PX;
    height: 70PX;
    /* border: 1PX SOLID BLUE; */
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    position: relative;
    bottom: 40px;
    
    

}
#lore1{
    width: 381px;
    height: 54px;
    /* border: 1px solid blue; */
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 40px;
}
#ips{
    position: relative;
    
}
.ips{
    position: relative;
    left: 100px;
    bottom: 15px;
}
.footcon{
    width: 1440px;
    height: 363px;
    /* border: 1px solid blue; */
    margin-left: 30px;
    position: relative;
    bottom: 400px;
    flex-direction: column;
    background-color: #F2F5FF;
}
.footcon1{
    width: 544px;
    height: 42px;
    margin: 30px auto;
    align-items: center;
    /* border: 1px solid blue; */
}
#join{
    position: relative;
    left: 120px;
    top: 50px;
    
}
.footcon2{
    width: 514px;
    height: 71px;
    /* border: 1px solid blue; */
    margin-left: 455px;
}
.sign{
   position: relative;
   left: 75px;
   top: 50px;
    
}
.and{
    position: relative;
    left: 130px;
    top: 35px;
}
.footcon3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 486px;
    height: 70px;
    border: 1px solid #054C73;
    margin-left: 475px;
    border-radius: 3px;
    margin-top: 80px;
    
}
#exam{
    width: 175px;
    height: 20px;
    /* border: 1px solid blue; */
    margin-left: 30px;
    color: #011C42;
    font-weight: 400;
    opacity: 30%;
}
#sub{
    width: 153px;
    height: 70px;
    border: 1px solid #011C42;
    background-color: #011C42;
    align-items: center;
    
    
}
.sub{
    width: 64px;
    height: 17px;
    size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 25px auto;
    
}
.footcont{
    width: 1440px;
    height: 386px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #03344F;
   position: relative;
   bottom: 400px;
   background-color: #03344F;
  
}
.beauty1{
    
    flex-direction: column;
    align-items: center;
    
    width: 500px;
    height: 386px;
    position: relative;
    right: 30px;
    /* border: 1px solid blue; */
}
.img96{
    width: 175px;
    height: 200px;
    margin-top: 100px;
    position: relative;
    right: 50px;
}
#col{
    flex-direction: column;

}
.img97{
    width: 175px;
    height: 200px;
    position: relative;
    top: 25px;
    right: 50px;
}
.inst{
    position: relative;
    top: 30px;
}
#beauty2{
    width: 154px;
    height: 29px;
    /* border: 1px solid white; */
    position: relative;
    left: 70px;
    top: 30px;
}
#beauty3{
    width: 400px;
    height: 97px;
    /* border: 1px solid white; */
    position: relative;
    top: 60px;
    left: 70px;
}
#beauty4{
    width: 122px;
    height: 29px;
    /* border: 1px solid white; */
    position:relative;
    left: 70px;
    top:60px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}